body {
    background: #F4F2F2;
}

#arrow {
    position: absolute;
    bottom: -14px;
    right: 630px;
    z-index: 100;
    width: 30px;
}

div.menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 90px;
    text-align: right;
    background-color: white;
    right: 0;
    left: 0;
    width: 100%;
    display: block;
}

div.header {
    display: block;
    position: absolute;
    background-color: #F27968;
    height: 50px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

li {
    color: black;
    font-family: Roboto;
    font-weight: 100;
    font-style: normal;
    text-decoration: none !important;
    display: inline;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

li:hover {
    color: lightgray;
}

li:active {
    color: #F27968;
}

ul {
    display: block;
    max-width: 700px;
    min-width: 700px;
    position: relative;
    margin-top: 35px;
    margin-left: auto;
    margin-right: 50px;
    list-style: none;
    padding-left: 400px;
}

img.logo {
    display: block;
    position: relative;
    left: 150px;
    top: 16px;
    width: 200px;
    margin-right: 400px;
}

.grid-item {
    width: 420px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px #cccccc;
    cursor: pointer;
    overflow: hidden;
}

.grid-item:hover {
    box-shadow: 10px 10px 10px #cccccc;
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--height2 {
    height: 250px;
}

.grid-item--height3 {
    height: 520px;
}

.grid-item--width3 {
    width: 860px;
}

.grid {
    width: 1320px;
    margin: auto;
    top: 100px;
    text-align: center;
}

#lgHorizontal {
    position: absolute;
    right: 0;
}

#textLGH {
    position: absolute;
    left: 20px;
    height: 100%;
    width: 40%;
    line-height: 80%;
}

h1 {
    text-align: left;
    font-family: Roboto;
    font-size: 30px;
}

h2 {
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    color: grey;
}

p {
    text-align: left;
    font-family: Roboto;
    font-size: 15px;
    line-height: 100%;
}

#Standard {
    position: absolute;
    right: 0;
    top: 0;
}

#textSTD {
    position: absolute;
    bottom: 0;
    height: 48%;
    width: 100%;
    line-height: 80%;
}

#h1small {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
}

#h2small {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
}

#psmall {
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
}

#textSTDx2 {
    position: absolute;
    top: 90px;
    left: 10px;
    height: 48%;
    width: 90%;
    line-height: 80%;
}

#Standardx2 {
    position: absolute;
    right: 0;
    top: 0;
}

#textLGV {
    position: absolute;
    bottom: 70px;
    line-height: 90%;
}

#textLGV p {
    text-align: center;
}

#lgVertical {
    position: absolute;
    top: -40px;
    left: 0;
}

#portrait {
    position: absolute;
    top: 190px;
    width: 110px;
    left: 45px;
}

#portrait:hover {
    width: 130px;
    left: 35px;
    top: 180px;
}

#h1medium {
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
}

#h2medium {
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
}

hr {
    position: absolute;
    text-align: center;
    margin-left: 10%;
    width: 80%;
    height: 1px;
    bottom: 50px;
    background: grey;
    border: 0;
}

#followers {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 50%;
    left:15%;
    color:grey;
}

#number {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 50%;
    left:45%;
    color:dimgrey;
}
